include ../mixins/_keybind_mixins

div(class="absolute grid grid-cols-6 w-full mx-2.5 my-0 bottom-2.5 gap-y-8")
    +keybind('merge sort', 'A')
    +keybind('insertion sort', 'B')
    +keybind('selection sort', 'C')
    +keybind('quicksort', 'D')
    +keybind('bubble sort', 'E')
    +keybind('heapsort', 'F')