#configurations
    .center-horiz-vert
        p.justify-center min freq
        input#min-freq-input.width-full(type="range" min="200" max="2200" value="200")
        p#min-freq-val.justify-center
    .center-horiz-vert
        p.justify-center max freq
        input#max-freq-input.width-full(type="range" min="200" max="2200" value="500")
        p#max-freq-val.justify-center
    .center-horiz-vert
        p.justify-center n
        input#arr-size-input.width-full(type="range" min="2" max="200" value="10")
        p#arr-size-val.justify-center
    .center-horiz-vert
        p.justify-center bot comparison length
        input#comparison-len-input.width-full(type="range" min="1" max="2000" value="350")
        p#comparison-len-val.justify-center
    .center-horiz-vert
        p.justify-center freq diff
        p#freq-diff-val.justify-center

.justify-center.width-full
    p#guide-text.justify-center.bigger-font during the sorting procedure, tap on the element which is the largest
#start-game
    button#start-game-btn.box start