include ../mixins/_sort_mixins

#footer(class="absolute grid grid-cols-6 w-full mx-2.5 my-0 bottom-2.5 gap-y-8")
    +keybind('guide text', 'A')
    +keybind('minigame configs', 'B')
    +keybind('start minigame', 'Space')
    +keybind('cancel minigame', 'Esc')
    +keybind('display keyboard', 'C')
    +keybind('back to index', 'D')