#stats.vertical-container
    p#total-comps.width-full.center-text.bigger-font.margin-10-0
    #theoretical-comps.width-full.justify-center.items-center.flex-direction-column.margin-10-0
        p#omega.bigger-font.margin-10-0
        p#theta.bigger-font.margin-10-0
        p#bigo.bigger-font.margin-10-0
    p.bigger-font.width-full.justify-center.margin-top-64 initial arr
    #init-arr.arr-container.margin-10-0