#stats.vertical-container
    div 
        .w-full.flex.justify-center
            p#total-comps.w-fit.bigger-font.m-0
        #theoretical-comps.w-full.flex.justify-center.items-center.flex-direction-column.mx-0.my-10
            p#omega.bigger-font.mx-0.my-10
            p#theta.bigger-font.mx-0.my-10
            p#bigo.bigger-font.mx-0.my-10
    div.self-end
        p.bigger-font.w-full.flex.justify-center.mt-64 initial arr
        #init-arr.arr-container