include ../mixins/_keybind_mixins

#footer(class="absolute grid grid-cols-6 w-full mx-2.5 my-0 bottom-2.5 gap-y-8")
    +keybind('start minigame', 'A')
    +keybind('cancel minigame', 'B')
    +keybind('guide text', 'C')
    +keybind('minigame configs', 'D')
    +keybind('display keyboard', 'E')
    +keybind('back to index', 'F')