#stats.flex.w-full.flex-col.grow
    .w-full.flex.justify-center
        p#total-comps.text-2xl.m-0
    #theoretical-comps.w-full.flex.justify-center.items-center.flex-col.mx-0.my-10
        p#omega(class="text-2xl mx-0 my-[11px]")
        p#theta(class="text-2xl mx-0 my-[11px]")
        p#bigo(class="text-2xl mx-0 my-[11px]")
    div(class="flex w-full flex-col justify-end grow mb-[11px]")
        p.text-2xl.flex.justify-center initial arr
        #init-arr.arr-container