include ../mixins/_sort_mixins

#configurations
    +config(['min', 'freq'].join(' '), ['min', 'freq'].join('-'), 'y', '200', '2200', '200')
    +config(['max', 'freq'].join(' '), ['max', 'freq'].join('-'), 'y', '200', '2200', '500')
    +config('n', 'arr-size', 'y', '2', '200', '10')
    +config('bot comparison length', 'comparison-len', 'y', '1', '2000', '350')
    +config(['freq', 'diff'].join(' '), ['freq', 'diff'].join('-'))
    p#guide-text.relative.m-0.left-4.justify-self-start.self-start.text-base during the sorting procedure, tap on the element which is the largest
    #start-game
        button#start-game-btn.box start
#keyboard(class="absolute w-full h-full m-0 top-0 flex justify-center items-center select-none" style="display: none;")
    img#keyboard(class="w-7/10 h-7/10 object-contain" draggable="false" src="res/ibm_keyboard.png")