#configurations
    .center-horiz-vert
        p.center-text min freq
        input#min-freq-input.width-full(type="range" min="200" max="2200" value="200")
        p#min-freq-val.center-text
    .center-horiz-vert
        p.center-text max freq
        input#max-freq-input.width-full(type="range" min="200" max="2200" value="500")
        p#max-freq-val.center-text
    .center-horiz-vert
        p.center-text n
        input#arr-size-input.width-full(type="range" min="2" max="200" value="10")
        p#arr-size-val.center-text
    .center-horiz-vert
        p.center-text bot comparison length
        input#comparison-len-input.width-full(type="range" min="1" max="2000" value="350")
        p#comparison-len-val.center-text
    .center-horiz-vert
        p.center-text freq diff
        p#freq-diff-val.center-text

.justify-center.width-full
    p#guide-text.center-text.bigger-font during the sorting procedure, tap on the element which is the largest
#start-game
    button#start-game-btn.box start