#selectable-els-dsc {
    display: grid;
    grid-template-columns: var(--el-imm-w) var(--el-imm-w);
    column-gap: var(--els-gap);
}

#left-dsc,
#right-dsc {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: var(--els-gap);
}