#configurations {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 110px;

    font-weight: 900;
}

#start-game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start-game-btn {
    width: 250px;
    height: 170px;

    background: none;

    font-size: 5em;
}

#start-game-btn:hover {
    cursor: pointer;
}

#countdown-cnt {
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#countdown-cnt-text {
    font-size: 3em;
}
