:root {
    --els-gap: 80px;
    --el-imm-w: 128px;
    --el-grad-w: 60px;
    --el-selection-w: 350px;

    --insertion-curr-both: calc(var(--el-selection-w) - (var(--el-selection-w) / 2 - var(--el-imm-w)));
}

#playground {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    flex-grow: 0;
}

#playground * {
    flex-grow: 0;
    flex-shrink: 0;
}

.arr-container {
    position: relative;
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: auto;
    padding: 0 10px;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 75px;

    transition: left 11ms cubic-bezier(0.78, 0.29, 0.22, 0.87);
}

#sorted-arr {
    height: 180px;
    margin-top: 11px;
}

#selectable-els {
    display: flex;
    width: var(--el-selection-w);
    margin: 0;
}

#left-els,
#right-els {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: var(--els-gap);
}

#selectable-els-insertion {
    display: grid;
    width: 100%;

    grid-template-columns: calc((100% - var(--insertion-curr-both)) / 2 - var(--els-gap)) var(--insertion-curr-both) calc((100% - var(--insertion-curr-both)) / 2 - var(--els-gap));
    grid-template-rows: var(--el-imm-w);
    column-gap: var(--els-gap);
}

#left-insertion,
#right-insertion {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: var(--els-gap);
}

#left-insertion {
    justify-content: flex-end;
}

#right-insertion {
    justify-content: flex-start;
}

#curr-both-insertion {
    display: flex;
    justify-content: space-between;
}

.input-el-imm {
    width: var(--el-imm-w);
    aspect-ratio: 1;

    font-size: 64px;
    font-weight: 900;

    color: var(--black-ink);

    background: none;
}

.input-el-grad {
    width: var(--el-grad-w);
    aspect-ratio: 1;

    font-size: 34px;
    font-weight: 500;

    color: var(--black-ink);

    background: none;
}

.output-el {
    display: flex;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    width: fit-content;
    height: fit-content;
    left: 0;
    justify-content: center;
    align-items: center;
    flex: 0 0 70px;
    flex-wrap: wrap;

    background: none;

    font-size: 30px;
    font-weight: 900;
}

.output-el-val {
    display: flex;
    width: 64px;
    height: 64px;
    margin: 0;
    justify-content: center;
    align-items: center;

    background: none;

    color: var(--black-ink);

    font-size: 32px;
    font-weight: 900;
}

.output-el-img {
    width: 112px;
    margin-top: 11px;
}