#playground {
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

#sorted-arr {
    display: flex;
    width: fit-content;
    height: 150px;
    margin-left: 0;
    margin-right: auto;
    margin-top: 11px;
    padding: 0 10px;
    justify-content: center;
    align-items: flex-start;

    gap: 75px;
}

#selectable-els {
    display: flex;
    width: 350px;
    height: 100%;
    margin: 140px 0px 0px 0px;
}

#left-els, #right-els {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 80px;
}

.input-el-imm {
    width: 100px;
    aspect-ratio: 1;

    font-size: 62px;
    font-weight: 900;

    background: none;
}

.input-el-grad {
    width: 60px;
    aspect-ratio: 1;

    font-size: 34px;
    font-weight: 500;

    background: none;
}

.output-el {
    display: flex;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    width: fit-content;
    height: fit-content;
    left: 0;
    justify-content: center;
    align-items: center;
    flex: 0 0 70px;
    flex-wrap: wrap;

    background: none;

    font-size: 30px;
    font-weight: 900;
}

.output-el-val {
    display: flex;
    width: 50px;
    height: 50px;
    margin: 0;
    justify-content: center;
    align-items: center;

    background: none;

    font-size: 30px;
    font-weight: 900;
}

.output-el-img {
    width: 80px;
    margin-top: 11px;
}