:root {
    --notebook-paper: #eaeaea;
    --black-ink: #2c181a;
    --blue-ink: #331bc7;
    --yellow-highlighter: #E7CB5D;
}

::selection {
    background-color: var(--yellow-highlighter);
}

* {
    cursor: url('../res/new-cursor.png'), auto !important;
}

html, body {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: var(--notebook-paper);

    overflow: hidden;
}

div, p, button {
    color: var(--black-ink);
}

.box {
    border: 5px solid var(--black-ink);
}

.thin-box {
    border: 3px solid var(--black-ink);
}

.vertical-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.vertical-container * {
    flex-shrink: 0;
}