.pos-abs {
    position: absolute;
}

.center-text {
    text-align: center;
}

.center-horiz-vert {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.items-center {
    display: flex;
    align-items: center;
}

.width-full {
    width: 100%;
}

.bottom-20 {
    bottom: 20px;
}

.bigger-font {
    font-size: 2em;
}

.very-big-font {
    font-size: 10em;
}

.margin-all-20 {
    margin: 10px;
}

.margin-all-0 {
    margin: 0;
}