doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title merge_sort 
        base(href=baseHref)
        link(rel="icon" type="image/x-icon" sizes="16x16" href="res/favicon-merge-16x16.ico")
        link(rel="icon" type="image/x-icon" sizes="32x32" href="res/favicon-merge-32x32.ico")
        link(rel="icon" type="image/x-icon" sizes="48x48" href="res/favicon-merge-48x48.ico")
        link(rel="stylesheet" href="style.css")
        link(rel="stylesheet" href="stylesheets/sort.css")
        link(rel="stylesheet" href="stylesheets/minigame_templates/double_stream_contiguous.css")
        link(rel="stylesheet" href="stylesheets/configs.css")
        link(rel="stylesheet" href="stylesheets/universal.css")
    body 
        include ../mixins/_general_mixins
        include ../mixins/_sort_mixins

        +config("during the sorting procedure, tap on the element which is the largest")

        #countdown-cnt 
            p#countdown-cnt-text 
        .flex.w-full.h-full.flex-col
            include ../includes/minigame_templates/_double_stream_contiguous
            
            include ../includes/_sort_end

        +footer(
            'footer',
            'grid',
            {
                'start minigame' : 'A',
                'cancel minigame' : 'B',
                'guide text' : 'C',
                'minigame configs' : 'D',
                'display keyboard' : 'E',
                'back to index' : 'F',
            }
        )

        +footer(
            'reduced-footer',
            'hidden',
            {
                'start minigame' : 'A',
                'cancel minigame' : 'B',
            }
        )

        script(type="module" src="/configs.js")
        script(type="module" src="/page_indexes/sort_index.js")