doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        base(href="/")
        title a -eq b
        link(rel="stylesheet" href="/style.css")
        link(rel="stylesheet" href="/stylesheets/universal.css")
        link(rel="stylesheet" href="/index.css")
    body 
        include pages/mixins/_index_mixins

        .w-full.flex.justify-center
            #sorts-box 
                +sort_container('merge', '/pages/sorts/merge.html', 'merge sort')
                +sort_container('insertion', '/pages/error/error.html', 'insertion sort')
                +sort_container('selection', '/pages/error/error.html', 'selection sort')
                +sort_container('quick', '/pages/error/error.html', 'quicksort')
                +sort_container('bubble', '/pages/error/error.html', 'bubble sort')
                +sort_container('heap', '/pages/error/error.html', 'heapsort')
        
        script(type="module" src="/index.js")