#sorts-box {
    display: flex;
    width: 60%;

    margin: 5% 20%;
    gap: 20px 50px;

    flex-wrap: wrap;
}

.sort-link {
    display: flex;
    position: relative;
    aspect-ratio: 1;
    width: 150px;

    justify-content: center;
    align-items: center;

    font-weight: 900;
    text-decoration: none;
}

.sort-link .link-color {
    color: var(--blue-ink);
}

.sort-link:visited .link-color {
    color: var(--blue-ink);
}

.sort-link .sort-link-numeric-val {
    display: none;
}

.sort-link:hover .sort-link-numeric-val {
    display: flex;
}

.sort-link-numeric-val {
    display: none;
    position: absolute;
    margin: 0;
    top: 27px;

    color: var(--hashed-blue-ink);
}