doctype html 
html(lang="en")
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        base(href="/")
        title a -eq b
        link(rel="stylesheet" href="/index.css")
        link(rel="stylesheet" href="/stylesheets/universal.css")
        link(rel="stylesheet" href="/stylesheets/utils.css")
    body 
        #sorts-box 
            a#merge-sort.sort-link.box(href="/pages/sorts/merge.html")
                p#merge-sort-hash.sort-link-numeric-val.justify-center 8dq6
                p.link-color.justify-center O_0 (merge sort)
            a#insertion-sort.sort-link.box(href="/pages/sorts/insertion.html")
                p#insertion-sort-hash.sort-link-numeric-val.justify-center 3h64
                p.link-color.justify-center insertion sort
        
        script(type="module" src="/index.js")