#sorts-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 33px 50px;

    margin-top: 5%;
}

.sort-link-box {
    display: flex;
    position: relative;
    aspect-ratio: 1;
    width: 150px;

    justify-content: center;
    align-items: center;

    font-weight: 900;
    text-decoration: none;
    font-size: 16px;
}

.sort-link-box .link-color {
    color: var(--blue-ink);
}

.sort-link-box:visited .link-color {
    color: var(--blue-ink);
}

.sort-link-box > .sort-link-box-numeric-val {
    display: none;
}

.sort-link-box:hover > .sort-link-box-numeric-val {
    display: flex;
}

.sort-link-box-numeric-val {
    display: none;
    position: absolute;
    margin: 0;
    top: 27px;

    color: var(--hashed-blue-ink);
}