#playground
    #sorted-arr.arr-container 
    #interactive-dsc
        #selectable-els-dsc 
            #curr-left-dsc 
            #curr-right-dsc 
        #selectable-els-dsc 
            #left-dsc 
            #right-dsc 