doctype html 
html(lang="en")
head 
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href="/")
    title 451
    link(rel="stylesheet" href="/stylesheets/universal.css")
    link(rel="stylesheet" href="/stylesheets/utils.css")
    link(rel="stylesheet" href="/pages/error/error.css")
body 
    #error-box 
        p.center-text.margin-all-0.very-big-font.width-full 451
        p.center-text.width-full Uhoh, could not load the page!
